<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.weather_history.mapper.WeatherHistoryMapper">
 	<select id = "selectWeatherhistoryList" resultType="com.quiz.weather_history.domain.WeatherHistory">
 	 	SELECT
 	 		`id`
 	 		,`date`
			,`weather`
			,`temperatures`
			,`precipitation`
			,`microDust`
			,`windSpeed`
 	 	FROM 
 	 		`weather_history`
 	</select>
 	
 	<!-- 여러 파라미터 타입으로 들어오니 map으로 들어온다. -->
 	<insert id="insertWeatherHistory" parameterType="map">
 		INSERT INTO `weather_history`
 		(	
 			`date`
			,`weather`
			,`temperatures`
			,`precipitation`
			,`microDust`
			,`windSpeed`
			,`createdAt`
			, `updatedAt`
		)
 		VALUES
 		(
 			#{date}
 			, #{weather}
 			, #{temperatures}
 			, #{precipitation}
 			, #{microDust}
 			, #{windSpeed}
 			, NOW()
 			, NOW()
 		)
 		</insert>
 </mapper>